.ButtonComponent {
    font-size: 2rem;
    color: rgb(237, 222, 196);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    background-color: #693a2125;
    border: none;
    z-index: 1;
  }
  .ButtonComponent:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-image: linear-gradient(315deg, #f89318 0%, #fce29c 74%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
  }
  .ButtonComponent:hover {
    color: #000;
  }
  .ButtonComponent:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }