:root {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.6rem;
}
header,
footer {
    height: 10vh;
    background-color: #70300E;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #D8C690;
}


.PGNJ {
   height: 90px;
   
   
   
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #9D4314;
}
li {
    background-color: #CBB26A;
}
li a {
    text-decoration: none;
}
form {
    display: flex;
    justify-content: center;
    width: 600px;
    /*align-items: center;*/
}
form input {
    font-size: 100%;
}
main {
    height: 80vh;
}

/* Julian css */

.hidden {
    display: none;
}
