:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./components/Images/books.jpg);
  background-size: cover;
  font-size: 1.6rem;
}
header {
  height: 10vh;
  background-color: #70300e;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: #d8c690;
}

.PGNJ {
  height: 90px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #9d4314;
}
li {
  background-color: #cbb26a;
}
li a {
  text-decoration: none;
}
form {
  display: flex;
  justify-content: center;
  width: 600px;
  /*align-items: center;*/
}
form input {
  font-size: 100%;
}
main {
  min-height: 80vh;
}
